﻿@model Auction.Models.EditProfileViewModel

<h2>Edit Profile</h2>
<form method="post" asp-action="EditProfile" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="custom-file">
            <label asp-for="AvatarImage" class="custom-file-label">Choose file...</label>
            <input type="file" asp-for="@Model.AvatarImage" class="custom-file-input" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input class="form-control" asp-for="UserName" value="@Model.UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" value="@Model.Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber" value="@Model.PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" asp-for="IsPhoneHidden" value="@Model.IsPhoneHidden">
        <label class="form-check-label" asp-for="IsPhoneHidden"></label>
    </div>
    <div  class="form-group pt-2">
        <input class="btn btn-primary" type="submit" value="Save changes" />
    </div>
</form>

@section Scripts
{
    <script>
    $(document).ready(function (){
        $(".custom-file-input").on("change", function (){
            var fileName = $(this).val().split("\\").pop();
            $(this).prev(".custom-file-label").html(fileName);
        });
    });
    </script>
}
