﻿@model Auction.Models.LoginViewModel
 
<h2>Log In</h2>
<form method="post" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input class="form-control" asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <a class="text-primary" asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
    </div>
    <div class="form-check">
        <input class="form-check-input" asp-for="RememberMe" />
        <label class="form-check-label" asp-for="RememberMe"></label>
    </div>
    <div  class="form-group pt-2">
        <input class="btn btn-success" type="submit" value="Log In" />
    </div>
</form>