﻿@using Microsoft.AspNetCore.Identity
@using Auction.DAL.Entities
@model Auction.Models.ProfileViewModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="container">
    <div class="row p-1">
        <div class="l-col-4">
            @if (Model.Avatar is { })
            {
                <img alt="Avatar" style="width:222px; height:222px; border-radius: 50%; margin-left: auto; margin-right: auto; display: block"
                     src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))"/>
            }
            else
            {
                <img alt="Avatar" style="width:222px; height:222px; border-radius: 50%; margin-left: auto; margin-right: auto; display: block"
                     src="img/user-default-icon.png"/>
            }
        </div>
        <div class="col-8 pr-1">
            <div class="l-col-1-i">
                <div class="mb-2">
                    <span>
                        <h1>@Model.UserName</h1>
                        <h5 class="heading">User Rating</h5>
                        <rating rating="@Model.Rating" user-name="@Model.UserName" current-user-name="@UserManager.GetUserName(User)"></rating>
                    </span>
                </div>
                <div>
                    <p>
                        @if (UserManager.GetUserName(User) == Model.UserName)
                        {
                            <h5>phone:</h5>
                            @Model.PhoneNumber
                        }
                    </p>
                    <p>
                        <h5>email:</h5>
                        @Model.Email
                    </p>
                    @if (UserManager.GetUserName(User) == Model.UserName)
                    {
                        <p>
                            <a asp-controller="Account" asp-action="EditProfile">Edit profile</a>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
    
    <div class="mb-2">
        @if (SignInManager.IsSignedIn(User) && UserManager.GetUserName(User) == Model.UserName)
        {
            <h1>My lots</h1>
        }
        else
        {
            <h1>User's lots</h1>
        }
        <div>
            @if (Model.Lots is {} && Model.Lots.Any())
            {
                @foreach (var lot in Model.Lots)
                {
                    <div class="row p-4 ml-5 mr-5 mt-2 position-relative" style="border: 1px solid #ececec">
                        <div class="l-col-4">
                            @if (lot.Coin.Images is { })
                            {
                                <img src="@lot.Coin.Images.First()" style="max-height: 120px; max-width: 300px; min-width: 212px; border-radius: 5%; overflow: hidden; object-fit:cover;" alt="Image">
                            }
                        </div>
                        <div class="col-5 position-static ">
                            <a class="stretched-link" asp-controller="Home" asp-action="ViewLot" asp-route-lotId="@lot.LotId"><h4>@lot.Name</h4></a>
                            <p>@lot.FinishingDate</p>
                            @if (lot.IsActive)
                            {
                                <h4>@lot.ActualBetPrice $</h4>
                            }
                            else
                            {
                                <h4 class="text-danger">Finished</h4>
                            }
                        </div>
                        <div class="col-3">
                            <h4>@lot.UserName</h4>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>You don't have lots yet.</p>
            }
        </div>
    </div>
    @if (UserManager.GetUserName(User) == Model.UserName)
    {
        <div class="mb-2">
            <h1>Bets</h1>
            <div>
                @if (Model.UserBets is {} && Model.UserBets.Any())
                {
                    @foreach (var bet in Model.UserBets)
                    {
                        <div class="row p-4 ml-5 mr-5 mt-2 position-relative" style="border: 1px solid #ececec">
                            <div class="l-col-4">
                                @if (bet.Coin.Images is { })
                                {
                                    <img src="@bet.Coin.Images.First()" style="max-height: 120px; max-width: 300px; min-width: 212px; border-radius: 5%; overflow: hidden; object-fit:cover;" alt="Image">
                                }
                            </div>
                            <div class="col-5 position-static ">
                                <a class="stretched-link" asp-controller="Home" asp-action="ViewLot" asp-route-lotId="@bet.LotId"><h4>@bet.Name</h4></a>
                                <p>@bet.FinishingDate</p>
                                @if (bet.IsActive)
                                {
                                    <h4 class="text-success">@bet.Bets.Last(b => b.UserId == ViewBag.userId).Sum $</h4>
                                }
                                else
                                {
                                    <h4 class="text-danger">Finished</h4>
                                }
                            </div>
                            <div class="col-3">
                                <h4>@bet.UserName</h4>
                            </div>
                        </div>
                    }

                }
                else
                {
                    <p>You don't have active bets.</p>
                }
            </div>
        </div>
    }
</div>
