﻿@using Microsoft.AspNetCore.Identity
@using Auction.DAL.Entities
@using Auction.Infrastructure
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="ViewProfile" asp-route-id="@UserManager.GetUserName(User)" title="Manage">@User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" class="btn btn-link" title="Logout" value="Logout">
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register" title="Register">Sign In</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login" asp-route-returnUrl=@ViewContext.HttpContext.Request.GetPathAndQuery() title="LogIn">Login</a>
    </li>
}
</ul>
