﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<span class="container text-center">
    @if (Model.ErrorMessage is { })
    {
        <h1>@Model.ErrorMessage</h1>
    }
    else
    {
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    }
</span>
