﻿@model Auction.Models.CreateLotViewModel

<h2>Create new lot</h2>

<form method="post" asp-controller="Home" asp-action="CreateLot" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="row">
        <div class="form-group col-md-2">
            <label asp-for="PrimeBetPrice"></label>
            <div class="input-group">
                <input class="form-control" asp-for="PrimeBetPrice" value="0" />
                <div class="input-group-append">
                    <span class="input-group-text">$</span>
                </div>
            </div>
            <span asp-validation-for="PrimeBetPrice" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="FinishingDate"></label>
            <input class="form-control" asp-for="FinishingDate" maxlength="16" placeholder="Eg: 01.01.2021 12:01"/>
            <span asp-validation-for="FinishingDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Coin.Images"></label>
            <div class="custom-file">
                <label class="custom-file-label" value="Choose file..."></label>
                <input asp-for="Coin.Images" class="custom-file-input"  multiple/>
            </div>
        </div>    
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Coin.Name"></label>
        <input class="form-control" asp-for="Coin.Name" />
        <span asp-validation-for="Coin.Name" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Coin.Metal"></label>
            <select class="form-control" asp-for="Coin.Metal" asp-items="@ViewBag.Metals"></select>
            <span asp-validation-for="Coin.Metal" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Coin.Country"></label>
            <input class="form-control" asp-for="Coin.Country" />
            <span asp-validation-for="Coin.Country" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Coin.Weight"></label>
            <input class="form-control" asp-for="Coin.Weight" />
            <span asp-validation-for="Coin.Weight" class="text-danger"></span>
        </div>    
        <div class="form-group col-md-2">
            <label asp-for="Coin.Year"></label>
            <input class="form-control" asp-for="Coin.Year" />
            <span asp-validation-for="Coin.Year" class="text-danger"></span>
        </div>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Create" />
    </div>
</form>

@section Scripts
{
    <script>
    $(document).ready(function (){
        $(".custom-file-input").on("change", function (){
            var fileLabel = $(this).prev(".custom-file-label");
            var files = $(this)[0].files;
            if (files.length > 1){
                fileLabel.html(files.length + " files selected");
            }
            else if (files.length == 1){
                fileLabel.html(files[0].name);
            }
        });
    });
    </script>
}