﻿@model IEnumerable<Auction.Models.LotViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Coin Auction</h1>
        <h3>platform for the sale of antique coins</h3>
    </div>
    @foreach (var lot in Model)
    {
        <div class="row p-4 ml-5 mr-5 mt-2 position-relative" style="border: 1px solid #ececec">
            <div class="l-col-4">
                @if (lot.Coin.Images is { })
                {
                    <img src="@lot.Coin.Images.First()" style="max-height: 120px; max-width: 300px; min-width: 212px; border-radius: 5%; overflow: hidden; object-fit:cover;" alt="Image">
                }
            </div>
            <div class="col-5 position-static ">
                <a class="stretched-link" asp-controller="Home" asp-action="ViewLot" asp-route-lotId="@lot.LotId"><h4>@lot.Name</h4></a>
                <p>@lot.FinishingDate</p>
                <h4>@lot.ActualBetPrice $</h4>
            </div>
            <div class="col-3">
                <h4>@lot.UserName</h4>
            </div>
        </div> 
    }
</div>