﻿@using Microsoft.AspNetCore.Identity
@using Auction.DAL.Entities
@using Auction.Infrastructure
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model Auction.Models.LotViewModel

<div class="container">
    <div class="row">
        <h1>@Model.Name</h1>
    </div>
    <div class="row mt-2" style="min-height: 72px; border: 1px solid #ececec">
        @if (Model.Bets.Any())
        {
            <div class="col-3">Last Bet: 
                <h4>@Model.ActualBetPrice $</h4>
            </div>
            <div class="col-5">Count of bets: 
                <h4>@Model.Bets.Count</h4>
            </div>
        }
        else{
            <div class="col-3">Last Bet: 
                <h4>@Model.PrimeBetPrice</h4>
            </div>
            <div class="col-5">Count of bets: 
                <h4>@Model.Bets.Count</h4>
            </div>
        }
        <div class="col-4">Owner: 
            <a asp-controller="Account" asp-action="ViewProfile" asp-route-id="@Model.UserName"><h4>@Model.UserName</h4></a>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-5">
            @if (Model.Coin.Images is {})
            {
                <div class="fotorama">
                        @foreach (string path in Model.Coin.Images)
                        {
                            <img src="@path" alt="Image" style="max-height: 500px"/>
                        }
                </div>        
            }
        </div>
        <div class="col-7 pt-4" >
            <div class="container p-2" style="background: #f7f9f9">
                
            <div class="row">
                <div class="col-6">Started with: @Model.PrimeBetPrice $</div>
                @if (@Model.Bets.Any())
                {
                    <div class="col-6" >Actual bet:
                        <div style="font-size: 20px; color: #1c7430">@Model.ActualBetPrice $</div>
                    </div>
                }
                else
                {
                    <div class="col-6" style="font-size: 20px">Actual bet: There are no bets yet</div>
                }

            </div>
            <div class="row">
                <div class="col-6" id="time">Finish data: @Model.FinishingDate.ToString("g") </div>
                @if (Model.IsActive)
                {
                    <div class="col-6 pt-2" style="font-size: 18px; font-weight: bold" id="time-left">Time left</div>
                }
                else
                {
                    <div class="col-6" style="font-size: 18px; font-weight: bold" id="time-left">Lot finished.</div>
                }
            </div>
            @if (SignInManager.IsSignedIn(User) && UserManager.GetUserId(this.User) != ViewBag.OwnerId
                 && @Model.IsActive)
            {
                <form method="post" id="set-bet" asp-controller="Bet" asp-action="CreateBet" asp-route-lotId="@Model.LotId">
                    <div class="form-group pt-4">
                        <label>Place bet</label>
                        <div class="input-group">
                            <input id="bet-input" class="form-control" name="sum" value="@Model.ActualBetPrice"/>
                            <div class="input-group-append">
                                <span class="input-group-text">$</span>
                            </div>
                        </div>
                        <span asp-validation-for="PrimeBetPrice" class="text-danger"></span>
                    </div>
                    <div>
                        <input id="bet-button" class="btn badge-warning" type="submit" style="background: #ddff1f" value="Set bet"/>
                    </div>
                </form>
            }
            else if(UserManager.GetUserId(this.User) == ViewBag.OwnerId && @Model.IsActive)
            {
                <div class="row pt-2">
                    <div class="col-6">
                        <a class="btn btn-primary" type="button" asp-controller="Home" asp-action="EditLot" asp-route-lotId="@Model.LotId">Edit lot</a>
                    </div>                    
                    <div class="col-6">
                        <form method="post" asp-controller="Home" asp-action="DeleteLot" asp-route-lotId="@Model.LotId">
                            <input type="submit" class="btn badge-danger" value="Delete lot"/>
                        </form>
                    </div>
                </div>
            }
            else if (!Model.IsActive && Model.Bets.Last().UserId == UserManager.GetUserId(this.User))
            {
                <h4 class="text-center text-success mt-2">You won the lot. The owner's phone for connection: @Model.Phone</h4>
            }
            else if(Model.IsActive && !SignInManager.IsSignedIn(User))
            {
                <h3 class="pt-2"><a asp-controller="Account" asp-action="Login" asp-route-returnUrl=@ViewContext.HttpContext.Request.GetPathAndQuery()>Log In</a> to take part in auction</h3>
            }
            </div>
        </div>
    </div>
    <span class="row mt-4">
        <div class="col">
            <h4>Description</h4>
            <p>@Model.Description</p>
        </div>
    </span>
    <div class="row mt-2">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">
                    Country
                </th>
                <td>
                    @Model.Coin.Country
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Year
                </th>
                <td>
                    @Model.Coin.Year
                </td>    
            </tr>    
            <tr>
                <th scope="row">
                    Material
                </th>    
                <td>
                    @Model.Coin.Metal
                </td> 
            </tr>        
            <tr>
                <th scope="row">
                    Weight, gr.
                </th>     
                <td>
                    @Model.Coin.Weight
                </td>                  
            </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
    let interval = (finishDate) => {
        let finishTimeInISO = new Date(Date.parse(finishDate));
        timeUpdateManager(finishTimeInISO);
        let currentTime = new Date();
        return finishTimeInISO - currentTime;
    }
    
    let update = () => {  
      let difference = new Date(interval('@Model.FinishingDate.ToString("O")'));
      
      let month = difference.getUTCMonth().toString().concat(" month(s) ");
      let day = (difference.getDate() - 1).toString().concat(" day(s) ");
      let hours = difference.getUTCHours() > 9 ? difference.getUTCHours().toString() : "0".concat(difference.getUTCHours().toString());
      hours = hours.concat(':');
      let minutes = difference.getMinutes() > 9 ? difference.getUTCMinutes().toString() : "0".concat(difference.getUTCMinutes().toString());
      minutes = minutes.concat(':');
      let seconds = difference.getSeconds() > 9 ? difference.getUTCSeconds().toString() : "0".concat(difference.getUTCSeconds().toString());
      
      let fullDifference = month + day + hours + minutes + seconds;
      
      document.getElementById("time-left").innerText = timerId == null ? "Lot finished"
       : fullDifference.toString();
    }
        
    let timerId;
    
    let clockStart = () => {
         timerId = setInterval(update, 1000);
         update();
    }    
    
    let clockStop = () => {
        clearInterval(timerId);
        timerId = null;
        }
        
    let timeUpdateManager = (time) => {        
        if (time.getTime() <= new Date().getTime()){
            clockStop();
        }
    }
    
    clockStart();
    </script>
}
